*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

li{
    
    padding: 8px;
}
a { text-decoration: none; outline: none; color: black}

a:hover, a:active {text-decoration: none; }


li>a>div{
    width: 212px;
    height: 391px;
}
.poster{
    width: 212px;
    height: 306px;
    border-radius: 8px;
}

.information{
    padding: 2px 4px;
}

h4{
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
    font-weight: 400;
    letter-spacing: -1px;
}

p{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 80%;
  letter-spacing: -1px;
  color: gray;
}