*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

li{
    padding: 8px;
    list-style: none;
    width: 20%;
}

li >div{
    /* min-height: 718px; */
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li >div >img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}
li >div >div{
    padding: 8px;
}
li >div >div >p{
    margin-bottom: 8px;
    color: black;
    letter-spacing: -1px;
    
    font-weight: bold;
}

li >div >div >small{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
li >div >button{
    padding: 8px 24px;
    margin: auto;
    background-color: brown;
    border: 0;
    border-radius: 8px;
    margin-bottom: 12px;
}
li >div >button >a{
    text-decoration: none;
    color: #FFFFFF;
    
}